<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Dashboard Web Application</title>

    <link href="css/site.min.css" rel="stylesheet" />

    <script type="text/javascript">
    function onBeforeRender(dashboardControl) {
        dashboardControl.registerExtension(new DevExpress.Dashboard.DashboardPanelExtension(dashboardControl, { dashboardThumbnail: "./DashboardThumbnail/{0}.png" }));
    }
    </script>
    <script>
        function onCustomizeDataSourceWizard(args) {
        args.wizard.events.addHandler("beforePageInitialize", (args) => {
          args.state.dataSourceType = DevExpress.Dashboard.Designer.ToDataSourceTypeNumber('Json');
        })
        args.wizard.events.addHandler("afterPageInitialize", (args) => {
          args.wizard.pageFactory.unregisterMetadata(DevExpress.Dashboard.Designer.DataSourceWizardPageId.ChooseDataSourceTypePage);                
          var defaultGetNextPageId = args.wizard.iterator.getNextPageId;
          args.wizard.iterator.getNextPageId = function (pageId) {
            if (!pageId) {
                return DevExpress.Analytics.Wizard.JsonDataSourceWizardPageId.ChooseConnectionPage;
            } else {
                return defaultGetNextPageId.apply(this, pageId);
            }
          }                 
        }) 
      }
    </script>
</head>
<body>
    @RenderBody()

    <script src="js/site.min.js"></script>
</body>
</html>